.button {
  border: none;
  height: 1.5rem;
  width: 1.5rem;
  background: transparent;
  align-items: center;
  padding: 0;
  cursor: pointer;
}



.icon-search {
  font-size: 1.5rem;
  color: var(--black);
  align-items: center;
}